In [30]:
import pandas as pd 
employees_df = pd.read_csv('../src/exercises/employees.csv')

In [18]:
employees_df = pd.read_csv('../src/exercises/employees.csv')
salaries_df = pd.read_csv("../src/exercises/salaries.csv")
departments_df = pd.read_csv("../src/exercises/departments.csv")
projects_df = pd.read_csv("../src/exercises/projects.csv")
locations_df = pd.read_csv('../src/exercises/locations.csv')

In [19]:
print(employees_df.head())

   EmployeeID   Name   Department  Salary
0           1   John  Engineering   55000
1           2   Anna    Marketing   46000
2           3  Peter  Engineering   60000
3           4  Linda           HR   75000
4           5  James    Marketing   49000

In [22]:
print(employees_df.shape)

(10, 4)

In [23]:
print(employees_df.isnull().sum()) 

print(employees_df.dtypes)

EmployeeID    0
Name          0
Department    0
Salary        0
dtype: int64
EmployeeID     int64
Name          object
Department    object
Salary         int64
dtype: object

In [24]:
#inner join
inner = pd.merge(employees_df, salaries_df, on="EmployeeID", how="inner")

In [25]:
#left join
left = pd.merge(employees_df, departments_df, on="Department", how="left")

In [26]:
#right join
right = pd.merge(employees_df, projects_df, on="EmployeeID", how="right")

In [28]:
#fullouer and self join 

outer = pd.merge(salaries_df, locations_df, on="EmployeeID", how="outer")
self_join = pd.merge(employees_df, employees_df, on="Department", suffixes=('_1', '_2'))

In [31]:
#Rename a column:

employees_df.rename(columns={'Name': 'EmployeeName'}, inplace=True)

In [32]:
#Filter rows:

filtered = employees_df[employees_df['EmployeeID'] > 2]

In [36]:
#Drop a column:

dropped = employees_df.drop(columns=['Department'])

#Create a new column (multiply):

employees_df['EmployeeID_x2'] = employees_df['EmployeeID'] * 2

In [ ]:
# Clean the column names by removing leading/trailing spaces
employees_df.columns = employees_df.columns.str.strip()

subset = employees_df[['Department']]

print(subset.head())

    Department
0  Engineering
1    Marketing
2  Engineering
3           HR
4    Marketing

In [47]:
#Group by Department and calculate mean:


grouped = employees_df.groupby('Department')['EmployeeID'].mean()

#Sort by Name:

#sorted_df = employees_df.sort_values('Name')

#Merge two DataFrames:

merged = pd.merge(employees_df, salaries_df, on='EmployeeID')

#Join on Index:

employees_index = employees_df.set_index('EmployeeID')
salaries_index = salaries_df.set_index('EmployeeID')
joined = employees_index.join(salaries_index, lsuffix='_emp', rsuffix='_sal')